## Practical 5 
### Name = Nayan Naresh khuje
### Roll No. = 407

In [1]:
import pandas as pd

#### 1. Create one dimensional list containing name of nine planet of our Galaxy. Create a dataframe using this list.

In [4]:
planet=['Mercury','venus','Earth','Mars','jupiter','Satern','Uranus','Neptune','Pluto']
planet1=pd.DataFrame(planet)
print(planet1)

         0
0  Mercury
1    venus
2    Earth
3     Mars
4  jupiter
5   Satern
6   Uranus
7  Neptune
8    Pluto

#### 2. Create a list 2-dimensional list containing name of month and number of days in that month. For example [‘January’, 31 ],[‘February’, 28] and so on. Create a DataFrame using that.

In [13]:
cald=[['jan',31],['feb',28],['march',31],['April',30],['May',31],['june',30],
      ['july',30],['August',31],['Sept',30],['Oct',31],['nov',30],['Dec',31]]
cald1=pd.DataFrame(cald)
print(cald1)

         0   1
0      jan  31
1      feb  28
2    march  31
3    April  30
4      May  31
5     june  30
6     july  30
7   August  31
8     Sept  30
9      Oct  31
10     nov  30
11     Dec  31

#### 3. Create a series with index as any five state of India and values as its capital. Create a dataframe using this series.

In [18]:
state=pd.Series(['Maharastra','Goa','Gujarat','Karnataka','Haryana'],
                index=['Mumbai','panaji','Gandhinagar','Bangalore','chanigarh'])
state1=pd.DataFrame(state)
print(state1)

                      0
Mumbai       Maharastra
panaji              Goa
Gandhinagar     Gujarat
Bangalore     Karnataka
chanigarh       Haryana

#### 4. Create a dataframe which stores name of any five students and their marks in five subjects Hindi, English, Soc Sci, Sci and Maths.

In [22]:
nayan=[83,47,79,83,95]
shalu=[75,70,90,73,98]
shrutika=[68,80,90,63,80]
anjali=[90,80,95,94,98]
sahil=[99,99,99,99,99]
marksheet=pd.DataFrame([nayan,shalu,shrutika,anjali,sahil],
                       index=['Nayan','Shalu','Shrutika','Anjali','Sahil'],
                       columns=['Hindi','English','Soc Sci','Science','Maths'])
print(marksheet)

          Hindi  English  Soc Sci  Science  Maths
Nayan        83       47       79       83     95
Shalu        75       70       90       73     98
Shrutika     68       80       90       63     80
Anjali       90       80       95       94     98
Sahil        99       99       99       99     99

#### 5. Create a dictionary with keys as any five neighboring countries of India and values as their capitals. Create a dataframe using that

In [29]:
contrie={'Contries':['Bangladesh','Nepal','Bhutan','Shri lanka','China'],
        'Capitals':['Dhaka','Kathmandu','Thimphu','Sri Jayawardenepura Kotte','Beijing']}
print(pd.DataFrame(contrie))

     Contries                   Capitals
0  Bangladesh                      Dhaka
1       Nepal                  Kathmandu
2      Bhutan                    Thimphu
3  Shri lanka  Sri Jayawardenepura Kotte
4       China                    Beijing