## Practical No.5 (Panda Dataframe)
### Name = Shrutika Bhosle
### Roll No. = 403

In [1]:
import pandas as pd
import numpy as np

#### 1.Create a data frame which is consist of column name as ename, edpt,age,basicsal, add 5 rows .

In [2]:
name=['nayan','sahil','afrin','arpit','shalu','anjali']
edpt=['programming','hr','hr','programming','hr','fin']
age=[21,50,50,20,50,20]
basicsal=[100000,200000,20000,120000,540000,641000]
comp={'ename':name,'edpt':edpt,'age':age,'basicsal':basicsal}
df=pd.DataFrame(comp)
print(df)

    ename         edpt  age  basicsal
0   nayan  programming   21    100000
1   sahil           hr   50    200000
2   afrin           hr   50     20000
3   arpit  programming   20    120000
4   shalu           hr   50    540000
5  anjali          fin   20    641000

#### 2.CHANGE THE INDEX of the dataframe 501,502,â€¦

In [3]:
df=pd.DataFrame(comp,index=[501,502,503,504,505,506])
df

      ename         edpt  age  basicsal
501   nayan  programming   21    100000
502   sahil           hr   50    200000
503   afrin           hr   50     20000
504   arpit  programming   20    120000
505   shalu           hr   50    540000
506  anjali          fin   20    641000

#### a)add one column with edesig

In [4]:
edesig=['programmer','manager','manager','programmer','programmer','manager']
df['edesig']=edesig
df

      ename         edpt  age  basicsal      edesig
501   nayan  programming   21    100000  programmer
502   sahil           hr   50    200000     manager
503   afrin           hr   50     20000     manager
504   arpit  programming   20    120000  programmer
505   shalu           hr   50    540000  programmer
506  anjali          fin   20    641000     manager

#### 3.add one row using loc method ,and one using append method

In [5]:
df.loc[506] = ['shrutika','fin','25','68000','programmer'] 
df

        ename         edpt age basicsal      edesig
501     nayan  programming  21   100000  programmer
502     sahil           hr  50   200000     manager
503     afrin           hr  50    20000     manager
504     arpit  programming  20   120000  programmer
505     shalu           hr  50   540000  programmer
506  shrutika          fin  25    68000  programmer

In [6]:
df=df.append({'ename':'tehseen','edpt':'hr','age':24,'basicsal':4520021,'edesig':'programmer'},ignore_index=True)
df.index=[501,502,503,504,505,506,507]
df

C:\Users\khuje\AppData\Local\Temp\ipykernel_13256\3174347821.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append({'ename':'tehseen','edpt':'hr','age':24,'basicsal':4520021,'edesig':'programmer'},ignore_index=True)

        ename         edpt age basicsal      edesig
501     nayan  programming  21   100000  programmer
502     sahil           hr  50   200000     manager
503     afrin           hr  50    20000     manager
504     arpit  programming  20   120000  programmer
505     shalu           hr  50   540000  programmer
506  shrutika          fin  25    68000  programmer
507   tehseen           hr  24  4520021  programmer

#### 4.modify the values of index number 501 with new values

In [7]:
df.loc[501]=['nano','programming',24,875460,'programmer']
df

        ename         edpt age basicsal      edesig
501      nano  programming  24   875460  programmer
502     sahil           hr  50   200000     manager
503     afrin           hr  50    20000     manager
504     arpit  programming  20   120000  programmer
505     shalu           hr  50   540000  programmer
506  shrutika          fin  25    68000  programmer
507   tehseen           hr  24  4520021  programmer

#### 5.drop the row with index number 503

In [8]:
df=df.drop(503,axis=0)
df

        ename         edpt age basicsal      edesig
501      nano  programming  24   875460  programmer
502     sahil           hr  50   200000     manager
504     arpit  programming  20   120000  programmer
505     shalu           hr  50   540000  programmer
506  shrutika          fin  25    68000  programmer
507   tehseen           hr  24  4520021  programmer

#### 6.add column hra where hra is 2%of basic salary

In [9]:
df['hra']=df['basicsal']*0.02
df

TypeError: can't multiply sequence by non-int of type 'float'

#### 7.display 1st row

In [ ]:
print(df.iloc[0])

#### 8.display 1st column

In [10]:
print(df.iloc[:,0])

501        nano
502       sahil
504       arpit
505       shalu
506    shrutika
507     tehseen
Name: ename, dtype: object

#### 9.last 2 row and last 2 column

In [11]:
print('for last row =')
print(df.iloc[-1])

for last row =
ename          tehseen
edpt                hr
age                 24
basicsal       4520021
edesig      programmer
Name: 507, dtype: object

In [12]:
print('for last column =')
print(df.iloc[:,-1])

for last column =
501    programmer
502       manager
504    programmer
505    programmer
506    programmer
507    programmer
Name: edesig, dtype: object

#### 10.display all the rows from 2nd onwards

In [13]:
df.iloc[:,:2]

        ename         edpt
501      nano  programming
502     sahil           hr
504     arpit  programming
505     shalu           hr
506  shrutika          fin
507   tehseen           hr

#### 11.display ename,dept and salary of 1st 3 rows

In [14]:
df.iloc[:3,[0,1,3]]

     ename         edpt basicsal
501   nano  programming   875460
502  sahil           hr   200000
504  arpit  programming   120000

#### 12.display ename ,desig and hra for row 3,4, 5

In [15]:
df.iloc[[3,4,5],[0,4,5]]

IndexError: positional indexers are out-of-bounds

#### 13.delete column hra

In [16]:
df = df.drop('hra', axis=1)
df

KeyError: "['hra'] not found in axis"

#### 14.drop the last row

In [ ]:
df.drop(df.tail(1).index,
        inplace = True)
df