In [3]:
import pandas as pd

In [4]:
aname=['nayan','sahil','afrin','arpit','anjali']
edpt=['programming','hr','hr','programming','fin']
age=[21,50,50,20,20]
basicsal=[100000,200000,120000,540000,641000]
comp={'ename':name,'edpt':edpt,'age':age,'basicsal':basicsal}
df=pd.DataFrame(comp)
df

    ename         edpt  age  basicsal
0   nayan  programming   21    100000
1   sahil           hr   50    200000
2   afrin           hr   50    120000
3   arpit  programming   20    540000
4  anjali          fin   20    641000

In [6]:
df['hra']=df['basicsal']*0.02
df

    ename         edpt  age  basicsal      hra
0   nayan  programming   21    100000   2000.0
1   sahil           hr   50    200000   4000.0
2   afrin           hr   50    120000   2400.0
3   arpit  programming   20    540000  10800.0
4  anjali          fin   20    641000  12820.0